{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-5">

            <div class="card shadow-lg p-4">

                <h2 class="text-center mb-4">
                    Login
                </h2>

                <form method="POST">

                    <div class="mb-3">

                        <label class="form-label">
                            Email
                        </label>

                        <input
                            type="email"
                            class="form-control"
                            name="email"
                            placeholder="Enter your email"
                            required>

                    </div>

                    <div class="mb-4">

                        <label class="form-label">
                            Password
                        </label>

                        <div class="input-group">

                            <input
                                type="password"
                                class="form-control"
                                id="loginPassword"
                                name="password"
                                placeholder="Enter your password"
                                required>

                            <span
                                class="input-group-text"
                                onclick="toggleLoginPassword()"
                                style="cursor:pointer;">

                                <i
                                    class="fa-solid fa-eye"
                                    id="loginEye">
                                </i>

                            </span>

                        </div>

                    </div>

                    <button
                        type="submit"
                        class="btn btn-primary w-100">

                        Login

                    </button>

                </form>

                <hr>

                <p class="text-center">

                    Don't have an account?

                    <a href="/register">
                        Register
                    </a>

                </p>

            </div>

        </div>

    </div>

</div>

<script>

function toggleLoginPassword() {

    const password =
        document.getElementById(
            "loginPassword"
        );

    const eye =
        document.getElementById(
            "loginEye"
        );

    if (password.type === "password") {

        password.type = "text";

        eye.classList.remove(
            "fa-eye"
        );

        eye.classList.add(
            "fa-eye-slash"
        );
    }
    else {

        password.type = "password";

        eye.classList.remove(
            "fa-eye-slash"
        );

        eye.classList.add(
            "fa-eye"
        );
    }
}

</script>

{% endblock %}